@import "../base";

/* @define Header */
.Header {
  user-select: none;
}

.Header-list {
  margin-left: -0.8rem;
}

.Header-link {
  display: inline-block;
  padding: 0 0 0.1rem;
  border-bottom: var(--border-width) solid transparent;
  margin: 0.1em 0.3rem 0.15em 0.8rem;
  font-family: "UK";
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.Header-link:hover,
.Header-link.is-current:hover {
  background: black;
  color: rgb(var(--theme-color));
  border-color: transparent;
  box-shadow: 0.1em 0 0 black, -0.1em 0 0 black;
}

@media (min-width: 600px) {
  .Header-link {
    margin: 0.3em 1.1rem 0.1em 0.8rem
  }
}

.Header-link.is-current {
  border-bottom-color: currentColor;
}

.Header-logo {
  display: inline-block;
  padding: 0 0.2em;
  font-family: "UK Logotype";
  font-size: 2.2rem;
  letter-spacing: -0.06em;
  line-height: 1;
  text-indent: -0.25em;
  text-transform: uppercase;
  word-spacing: -0.1em;
  margin: 1.7rem 0 0.25rem 0;
  white-space: nowrap;
}

.Header-logo:hover {
  text-transform: uppercase;
}

@media (min-width: 450px) {
  .Header-logo {
    margin-top: 2.3rem;
    font-size: 3.3rem;
  }
}
