@import "../base";

/* @define Cursor */
/* :root, * {
  cursor: none !important;
} */

/**
 * 1. Stay on top, I'm not kidding
 */

.Cursor {
  --x: -100px;
  --y: -100px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* 1 */
  pointer-events: none;
}

.Cursor-item {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  transform: translate(var(--x), var(--y));
}

/* .Cursor.is-pressed .Cursor-item {
  opacity: 0.5;
} */

.Cursor.is-hidden .Cursor-item {
  display: none;
}

/**
 * Type: Default
 */

.Cursor-default {
  position: relative;
  top: -5px;
  left: -3px;
}