@import "../base";

/** @define FactsBox */
.FactsBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2.75rem;
  margin: 0;
  text-align: center;
  font-size: 1.125rem;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  background-color: rgb(var(--theme-color));
}

.FactsBox-cell {
  flex: 1 1 100%;
  width: 100%;
  padding: 1rem;
}

.FactsBox-label {
  padding: 0;
  margin: 0 0 0.3em 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  
}

.FactsBox-value {
  padding: 0;
  margin: 0;
}
