@import "../base";

/* @define FactsBox */
.FactsBox {
  padding: 4.3rem 2.75rem 4.3rem 7rem;
  position: relative;
  background-color: rgb(var(--theme-color));
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
}

@media (min-width: 600px) {
  .FactsBox {
    padding: 3.3rem 1.9rem 3.5rem 8rem;
  }
}

@media (min-width: 1000px) {
  .FactsBox {
    padding: 2.5rem 2rem 2.5rem 2rem;
  }
}

.FactsBox-heading {
  display: inline-block;
  font-size: 3.5625rem;
  position: absolute;
  left: 1.5rem;
  top: 4.25rem;
  transform-origin: 100% 0;
  transform: translateX(-100%) rotate(-90deg);
}

@media (min-width: 600px) {
  .FactsBox-heading {
    left: 2.3rem;
    top: 3.65rem;
  }
}

@media (min-width: 1000px) {
  .FactsBox-heading {
    font-size: 0;
    position: absolute;
    opacity: 0;
  }
}

.FactsBox-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
}

@media (min-width: 1000px) {
  .FactsBox-list {
    text-align: center;
  }
}

.FactsBox-cell {
  flex: 1 1 100%;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 599px) {
  .FactsBox-cell:first-child {
    padding-top: 0;
  }

  .FactsBox-cell:last-child {
    padding-bottom: 0;
  }
}

.FactsBox-label {
  display: block;
  margin: 0 0 0.3em 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875em;
}

.FactsBox-value {
  padding: 0;
  margin: 0;
}
