@import "../base";

/* @define Blurb */
.Blurb {
  display: block;
  margin-bottom: 0.4rem;
}

.Blurb-body {
  font-weight: 600;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
}

.Blurb-link {
  display: inline-block;
  margin-top: 0.8rem;
  font-weight: 600;
  line-height: 1.6;
  border-bottom: 2px solid currentColor;
}

.Blurb.is-loading .Blurb-link {
  border-bottom-color: transparent;
}
