@import "../base";

/* @define Button */
.Button {
  display: inline-block;
  line-height: 3.125rem;
  padding: 0 1.2rem;
  border: var(--border-width) solid rgb(var(--document-color));
  font-size: 1rem;
  color: rgb(var(--document-color));
  background: transparent;
  font-weight: 600;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-family: var(--heading-font-family);
}

.Button::first-letter {
  text-transform: capitalize;
}

.Button--small {
  padding: 0 0.9rem;
  min-width: 0;
  line-height: 2.7rem;
}

.Button:not([disabled]):hover {
  background: rgb(var(--document-color));
  color: #fff;
}

.Button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/**
 * Primary button
 */

.Button--primary {
  background: rgb(var(--document-color));
  color: #fff;
}