@import "../base";

/* @define Button */
.Button {
  display: inline-block;
  line-height: 2.925rem;
  padding: 0 1.2rem;
  border: var(--border-width) solid rgb(var(--document-color));
  font-size: 1rem;
  color: rgb(var(--document-color));
  background: transparent;
  font-weight: 600;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-family: var(--heading-font-family);
}

.Button::first-letter {
  text-transform: capitalize;
  user-select: none;
}

@media (min-width: 1000px) {
  .Button {
    font-size: 1.125rem;
  }
}

.Button:not([disabled]):hover {
  background: rgb(var(--document-color));
  color: #fff;
}

.Button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/**
 * Primary button
 */

.Button--primary {
  background: rgb(var(--document-color));
  color: #fff;
}

/**
 * Click cover button
 */

.Button--cover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}