@import "../base";

/* @define Filter */
.Filter {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: baseline;
  justify-content: space-between;
  margin: -0.75em 0 0.75em;
  user-select: none;
}

@media (min-width: 800px) {
  .Filter {
    font-size: 1.125rem;
  }
}

.Filter-tags {
  flex: 1 0 auto;
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0.35em 0.5em 0.75em 0;
}

@media (max-width: 599px) {
  .Filter-tags {
    flex: 1 1 100%;
  }
}

.Filter-toggle {
  font-size: 0;
  opacity: 0;
  position: absolute;
}

.Filter-label {
  display: inline-block;
  margin-right: 0.6em;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
}

.Filter-label--interactive:hover,
.Filter-toggle:checked + .Filter-label {
  border-bottom-color: currentColor;
}

.Filter-label--interactive {
  cursor: pointer;
}

.Filter-decade {
  display: flex;
  align-items: center;
  margin: 0.75em 0;
}

@media (max-width: 599px) {
  .Filter-decade {
    flex: 1 1 100%;
  }
}

.Filter-select {
  padding: 0.5em 3em 0.5em 1em;
  border: 0;
  margin-left: 0.3em;
  font-weight: 600;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  background-image: url("./arrow.svg");
  background-position: calc(100% - 1em) 50%;
  background-size: 0.7em 0.45em;
  background-repeat: no-repeat;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

@media (min-width: 800px) {
  .Filter-select {
    width: 12em;
  }
}
