@import "../base";

/* @define Filter */
.Filter {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  user-select: none;
}

.Filter-tags {
  flex: 1 0 auto;
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0.75rem 0;
}

@media (max-width: 599px) {
  .Filter-tags {
    flex: 1 1 100%;
  }
}

.Filter-toggle {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.Filter-label {
  display: inline-block;
  margin-right: 1.2rem;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
}

.Filter-label--interactive:hover,
.Filter-toggle:checked + .Filter-label {
  border-bottom-color: currentColor;
}

.Filter-label--interactive {
  cursor: pointer;
}

.Filter-decade {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

@media (max-width: 599px) {
  .Filter-decade {
    flex: 1 1 100%;
  }
}

.Filter-select {
  padding: 0.5em 4em 0.5em 1em;
  border: 0;
  margin-left: 0.5em;
  font-weight: 600;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  background-image: url("./arrow.svg");
  background-position: calc(100% - 1rem) 50%;
  background-size: 0.7rem 0.45rem;
  background-repeat: no-repeat;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}
