@import "../base";

/* @define Ticket */
.Ticket {
  width: 100%;
  position: relative;
  background-color: rgb(var(--theme-color));
  font-size: 1.125rem;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  user-select: none;
}

.Ticket--disabled {
  color: rgb(108, 109, 112);
  background: rgb(218, 220, 226);
  box-shadow: none;
}

.Ticket-main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;

  font-weight: 600;
  text-align: right;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
}

.Ticket-day {
  display: block;
  margin-bottom: 0.4em;
  text-align: left;
}

.Ticket-status {
  display: inline-block;
  padding: 0.5em 0.7em;
  color: #fff;
  background-color: #000;
}

.Ticket--disabled .Ticket-status {
  color: rgb(218, 220, 226);
  background: rgb(108, 109, 112);
}

.Ticket-date {
  display: inline-block;
  margin-bottom: 0.25em;
  margin-right: -0.15em;
  font-size: 3.75rem;
  line-height: 0.7;
}

.Ticket-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.Ticket-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
