@import "../base";

/* @define View */
.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

  --View-gradient-top-height: 80vh;
  --View-gradient-bottom-height: 80vh;
}

/**
 * Main content area
 */

.View-main {
  flex-grow: 1;
  z-index: 1;
  min-height: calc(var(--View-gradient-top-height) + var(--View-gradient-bottom-height));
}

/**
 * Gradient
 */

.View-gradient {
  width: 100%;
  height: calc(100% - (var(--View-gradient-top-height) + var(--View-gradient-bottom-height)));
  position: absolute;
  top: var(--View-gradient-top-height);
  left: 0;
  background: rgb(var(--document-background));
}

.View-gradient::before,
.View-gradient::after {
  content: "";
  width: 100%;
  height: var(--View-gradient-top-height);
  position: absolute;
  top: calc(var(--View-gradient-top-height) * -1);
  z-index: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(var(--document-background), 1) 100%);
  pointer-events: none;
}

.View-gradient::after {
  height: var(--View-gradient-bottom-height);
  top: 100%;
  transform: rotate(180deg);
}