@import "../base";

/* @define Trailer */
.Trailer {
  position: relative;
  margin: 1.5rem 0;
}

.Trailer-background {
  display: none; /* todo */
  width: 100%;
  max-width: 2000px;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.Trailer-children {
  margin-top: 1.5rem;
}

@media (min-width: 1000px) {
  .Trailer {
    margin: 5rem 0;
  }

  .Trailer-children {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .Trailer {
    margin: 8rem 0;
  }

  .Trailer-children {
    margin-top: 3.5rem;
  }
}