@import "../base";

/* @define Trailer */
.Trailer {
  position: relative;
  margin: 1.5rem 0;
}

.Trailer-content {
  position: relative;
}

.Trailer-background {
  overflow: hidden;
}

.Trailer-image {
  display: none;
  width: 150%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  .Trailer-image {
    display: block;
  }
}

@media (min-width: 1000px) {
  .Trailer-image {
    width: 130%;
  }
}

@media (min-width: 1400px) {
  .Trailer-image {
    width: 110%;
  }
}

@media (min-width: 1600px) {
  .Trailer-image {
    width: 120%;
  }
}

@media (min-width: 2000px) {
  .Trailer-image {
    width: 100%;
  }
}

.Trailer-children {
  margin-top: 1.5rem;
}

@media (min-width: 1000px) {
  .Trailer {
    margin: 5rem 0;
  }

  .Trailer-children {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .Trailer {
    margin: 8rem 0;
  }

  .Trailer-children {
    margin-top: 3.5rem;
  }
}
