@import "../base";

:root {
  --Intro-spacing: 3rem;
  --Intro-aspect: 0.5625;
}

/** @define Intro */
.Intro {
  display: flex;
  flex-direction: column;
  padding-top: 35vh;
  margin-bottom: calc(var(--Intro-spacing) * 1);
  font-family: var(--heading-font-family);
  letter-spacing: -0.025em;
  line-height: 1.3;
  position: relative;
  overflow: hidden;
}

.Intro--collapse {
  --Intro-spacing: 2rem;
}

.Intro--adapt {
  margin-bottom: 1rem;
}

.Intro--blurb {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  text-align: center;
}

.Intro--blurb .Intro-title {
  padding-top: 0;
}

.Intro-slot {
  position: absolute;
  top: 10vh;
  right: 14vw;
}

@media (min-width: 600px) {
  .Intro-slot {
    top: 19vh;
    right: 20vw;
  }
}

.Intro-action {
  margin-top: 1.6rem;
}

.Intro-title {
  position: relative;
  font-size: 2.1rem;
  word-spacing: -0.05em;
  padding-top: 0.75em;
  margin: 0 0 0.55em;
  hyphens: auto;
  line-height: 1;
  margin-left: -0.04em;
  letter-spacing: -.025em;
}

.Intro-badge {
  position: relative;
  left: 0.04em;
  line-height: 1.4;
  margin: -2rem 0 0.9rem;
  display: block;
  word-spacing: 0;
}

.Intro-text {
  max-width: 38em;
}

.Intro-text a {
  border-bottom: 2px solid;
}

.Intro-text a {
  display: inline-block;
  border-bottom: 2px solid currentColor;
}

.Intro-text p:not(:first-child),
.Intro-text ul:not(:first-child),
.Intro-text ol:not(:first-child) {
  margin-top: 1em;
}

/**
 * Lists
 */

.Intro-text ul {
  list-style-type: none;
}

.Intro-text ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.Intro-text ul > li {
  padding-left: 1.5em;
  position: relative;
}

.Intro-text ol > li {
  padding-left: 0.5em;
}

.Intro-text ul > li::before {
  content: "–";
  position: absolute;
  left: 0;
  font-weight: 600;
  color: var(--color-theme)
}

.Intro-text li + li {
  margin-top: 0.8em;
}

.Intro-image {
  background: rgba(0, 0, 0, 0.05);
  display: block;
  width: 100%;
  height: auto;
  margin: -24vh 0 2rem;
  order: -1;
}

.Intro-container {
  margin: -24vh 0 2rem;
  order: -1;
  position: relative;
  overflow: hidden;
}

.Intro-container::before {
  content: "";
  display: block;
  height: 0;
  padding-top: calc(100% * var(--Intro-aspect));
}

@media (min-width: 350px) {
  .Intro-title {
    font-size: 2.5rem;
  }

  .Intro-text {
    font-size: 1.3rem;
  }
}

@media (min-width: 500px) {
  .Intro-title {
    font-size: 3.2rem;
  }

  .Intro-text {
    font-size: 1.35rem;
  }

  .Intro-badge {
    margin: -2.4rem 0 1.3rem;
  }
}

@media (min-width: 600px) {
  .Intro:not(.Intro--adapt) {
    margin-bottom: 4rem;
  }

  .Intro-image,
  .Intro-container {
    margin: 3rem 0 0;
    order: 0;
  }
}

@media (min-width: 800px) {
  .Intro:not(.Intro--adapt) {
    margin-bottom: calc(var(--Intro-spacing) * 1.4);
    letter-spacing: -0.035em;
  }

  .Intro-title {
    font-size: 4.5rem;
    padding-top: 0.6em;
    letter-spacing: -0.035em;
  }

  .Intro-text {
    font-size: 1.5rem;
  }

  .Intro-badge {
    margin: -2.9rem 0 1.8rem;
  }
}

@media (min-width: 1000px) {
  .Intro:not(.Intro--adapt) {
    margin-bottom: 5.9rem;
  }

  .Intro-title {
    font-size: 5.025rem;
  }

  .Intro-text {
    font-size: 1.875rem;
    word-spacing: -0.03em;
  }

  .Intro-image,
  .Intro-container {
    margin: 4rem 0 -2rem;
  }

  .Intro-badge {
    margin: -3.4rem 0 2.1rem;
  }
}

.Intro-container .Intro-image {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
