@import "../base";

/** @define Intro */
.Intro {
  display: flex;
  flex-direction: column;
  padding-top: 37vh;
  margin-bottom: 3rem;
  font-family: var(--heading-font-family);
  letter-spacing: -0.025em;
  line-height: 1.3;
}

.Intro-title {
  position: relative;
  font-size: 2.1rem;
  padding-top: 0.75em;
  margin: 0 0 0.35em;
  hyphens: auto;
  line-height: 1;
}

.Intro-badge {
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.Intro-text a {
  border-bottom: 2px solid;
}

.Intro-text a {
  display: inline-block;
  border-bottom: 2px solid currentColor;
}

.Intro-image {
  background: rgba(0, 0, 0, 0.05);
  display: block;
  width: 100%;
  height: auto;
  margin: -24vh 0 2rem;
  order: -1;
}

@media (min-width: 350px) {
  .Intro-title {
    font-size: 2.5rem;
  }

  .Intro-text {
    font-size: 1.3rem;
  }
}

@media (min-width: 500px) {
  .Intro-title {
    font-size: 3.2rem;
  }

  .Intro-text {
    font-size: 1.35rem;
  }
}

@media (min-width: 600px) {
  .Intro {
    margin-bottom: 4rem;
  }

  .Intro-image {
    margin: 3rem 0 0;
    order: 0;
  }
}

@media (min-width: 800px) {
  .Intro {
    margin-bottom: 5rem;
  }

  .Intro-title {
    font-size: 4.5rem;
    padding-top: 0.6em;
  }

  .Intro-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .Intro {
    margin-bottom: 9rem;
  }

  .Intro-title {
    font-size: 5.625rem;
  }

  .Intro-text {
    font-size: 1.875rem;
  }

  .Intro-image {
    margin: 4rem 0 -3rem;
  }
}
