:root {
  /* Colors  */

  --color-white: 255, 255, 255;
  --color-gray-light: 228, 230, 235;
  --color-gray: 218, 220, 226;
  --color-gray-dark: 108, 109, 112;
  --color-black: 0, 0, 0;

  --color-green: 0, 255, 54;
  --color-pink: 255, 66, 255;
  --color-yellow: 255, 240, 54;
  --color-blue: 67, 0, 255;

  /* Base styles */

  --document-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --document-font-size: 1rem;
  --document-line-height: 1.4;

  --heading-font-family: "UK", var(--default-font-family);
  --heading-line-height: 1.2;

  --logo-font-family: "UK Logotype", var(--heading-font-family);
  --logo-line-height: 1.2;

  --document-background: var(--color-gray-light);
  --document-color: 0, 0, 0;

  --document-max-width: 2000px;
  --document-margin: 1.125rem;

  --theme-background: var(--color-pink);

  --focus-ring-width: 0.2rem;
  --focus-ring-color: var(--color-gray-dark);

  /* Easing curves */

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 600px) {
  :root {
    --document-margin: 1.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --document-margin: 2rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --document-margin: 3rem;
  }
}
