@import "../base";

/* @define Framed */
.Framed {
  flex: 0 1 auto;
  padding: 0 0 1.5rem 1.5rem;
  position: relative;
}

.Framed::before {
  content: "";
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  position: absolute;
  left: 0;
  top: 1.5rem;
  z-index: -1;
  background-color: rgb(var(--theme-color));
}

.Framed-image {
  width: 100%;
  height: auto;
}

.Framed--ellipse {
  padding: 0 0 1rem 1rem;
}

.Framed--ellipse .Framed-image,
.Framed--ellipse::before {
  overflow: hidden;
  border-radius: 100%;
}

.Framed--ellipse::before {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  top: 1rem;
  background: linear-gradient(-25deg, rgb(var(--theme-color)) 30%, rgba(var(--theme-color), 0) 85%, transparent);
}

/**
 * Loading
 */

.Framed.is-loading {
  display: flex;
  width: 100%;
}

.Framed.is-loading::after {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% * 278/195);
}

.Framed.is-loading .Framed-image {
  background-color: rgb(var(--color-gray));
}
