@import "../base";

/** @define Framed */
.Framed {
  flex: 0 1 auto;
  padding: 0 0 2rem 2rem;
  margin-top: 2rem;
  position: relative;
}

.Framed::before {
  display: block;
  content: "";
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: absolute;
  top: 0;
  right: 2rem;
  background-color: rgb(var(--theme-color));
}

.Framed-image {
  width: 100%;
  height: auto;
  position: relative;
  top: -2rem;
}
