@import "../base";

/* @define Footer */
.Footer {
  display: flex;
  flex-wrap: wrap;
}

.Footer-section {
  flex: 0 1 50%;
  min-width: 10rem;
  margin-bottom: 2.3rem;
}

.Footer-title {
  margin-bottom: 0.5rem;
  font-family: "UK";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.Footer-item {
  padding: 0.15rem 0;
}

.Footer-link:hover {
  
}

.Footer-logo {
  display: inline-block;
  padding: 0 0.2em;
  margin: 1.6rem 0 4.5rem;
  font-family: "UK Logotype";
  font-size: 35vw;
  letter-spacing: -0.06em;
  line-height: 1;
  text-align: center;
  text-indent: -0.13em;
  text-transform: lowercase;
  word-spacing: -0.15em;
}

.Footer-logo:focus-visible {
  outline: 0 !important;
  text-transform: uppercase;
}

.Footer-logo:hover {
  text-transform: uppercase;
}

.Footer-extra {
  display: none;
}

@media (min-width: 450px) {
  .Footer-logo {
    font-size: 11vw;
  }

  .Footer-extra {
    display: inline;
  }

  .Footer-extra:first-child::after {
    content: " "
  }
}

@media (min-width: 600px) {
  .Footer {
    justify-content: space-between;
  }

  .Footer-section {
    flex: 0 1 auto;
  }
}

@media (min-width: 1000px) {
  .Footer-logo {
    font-size: 8.4vw;
  }
}

@media (min-width: 1800px) {
  .Footer-logo {
    font-size: 7rem;
  }
}