@import "../base";

/** @define Text */
.Text {
  font-family: var(--default-font-family);
  line-height: var(--default-line-height);
  font-size: 1rem;
  max-width: 39em;
  text-align: left;
}

.Text-muted {
  color: rgb(var(--color-gray-light));
}

.Text-small {
  font-size: 0.8em;
}

.Text:first-child {
  margin-top: 0;
}

.Text:last-child {
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  .Text--large,
  .Text-large {
    font-size: 1.375rem;
  }
}

/**
 * Inline elements
 * 1. Sorry: make links usable when used within interactive cards (Card)
 */

.Text a {
  position: relative; /* 1 */
  z-index: 2; /* 1 */
  font-weight: 600;
  color: inherit;
  transition: color 50ms cubic-bezier(0,0,.2,1);
  text-decoration: var(--high-contrast-underline, none);
}

.Text a:hover {
  color: inherit;
}

.Text small {
  font-size: 0.8em;
}

.Text-muted a,
.Text-muted a:hover {
  color: inherit;
  text-decoration: underline;
  font-weight: inherit;
}

/**
 * Block elements
 */

.Text hr {
  display: block;
  height: 2px;
  width: 3em;
  margin: 1.5em 0;
  border: 0;
  background: currentColor;
}

.Text p,
.Text ul,
.Text ol {
  margin: 0;
}

.Text p:not(:first-child),
.Text ul:not(:first-child),
.Text ol:not(:first-child) {
  margin-top: 1.3em;
}

.Text p:not(:last-child),
.Text ul:not(:last-child),
.Text ol:not(:last-child) {
  margin-bottom: 1.3em;
}

.Text img,
.Text pre {
  margin: 0;
}

.Text img:not(:first-child),
.Text pre:not(:first-child),
.Text figure:not(:first-child) {
  margin-top: 1.5em;
}

.Text img:not(:last-child),
.Text pre:not(:last-child),
.Text figure:not(:last-child) {
  margin-bottom: 1.5em;
}

.Text img + figcaption,
.Text pre + figcaption {
  margin-top: -1em;
}

.Text img {
  height: auto;
  max-width: 100%;
}

.Text pre {
  font-size: 0.75em;
  overflow: auto;
  background: rgb(var(--color-gray-light));
  padding: 1em;
  text-align: left;
}

/**
 * Details – Summary
 */

.Text details {
  display: block;
  margin-top: 1.5em;
  border: solid currentColor;
  border-width: 0 0 2px 0;
  cursor: default;
  outline: 0;
  position: relative;
}

.Text details:first-child,
.Text details + details {
  margin-top: 0;
}

.Text details:first-of-type {
  border-top-width: 2px;
}

.Text summary {
  display: block;
  list-style: none;
  user-select: none;
  padding: 1.4em 2.7em 1.4em 0;
  position: relative;
  outline: 0;
  font-weight: 600;
  font-size: 1.5em;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
}

.Text summary h1,
.Text summary h2,
.Text summary h3,
.Text summary h4,
.Text summary h5,
.Text summary h6 {
  font-size: inherit;
  margin: 0;
}

.Text summary:active {
  transition: opacity 100ms var(--ease-out);
  opacity: 0.5;
}

.Text summary::-webkit-details-marker {
  display: none;
}

.Text summary::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  width: 1em;
  height: 3px;
  transform: translateY(-50%);
  background-color: currentColor;
  border-radius: 1.5px;
}

.Text summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5em;
  width: 3px;
  height: 1em;
  transform: translate(50%, -50%);
  background-color: currentColor;
  border-radius: 1.5px;
  transform-origin: center;
  transition: transform 250ms var(--ease-out);
  will-change: transform;
}

.Text details[open] summary::after {
  transform: translate(50%, -50%) scaleY(0.1);
}

.Text details[open] {
  padding-bottom: 1.4em;
}

/**
 * Blockquote
 */

.Text-blockquote {
  padding: 1.5em;
  margin: 1.5em 0;
  position: relative;
  z-index: 0;
  font-weight: 600;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  font-size: 1.125em;
}

.Text-blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.Text-blockquote--variant1::before {
  width: 5em;
  height: 5em;
  border-radius: 100%;
  background: linear-gradient(53deg, rgb(var(--color-green)) 45%, rgba(var(--color-green), 0) 85%, transparent);
  z-index: -1;
}

.Text-blockquote--variant2::before {
  width: 2em;
  height: 100%;
  background: linear-gradient(rgba(var(--color-pink), 0) 5%, rgb(var(--color-pink)) 85%, rgb(var(--color-pink)));
  z-index: -1;
}

.Text-caption {
  margin-top: 1em;
  text-transform: uppercase;
}

/**
 * Lists
 */

.Text ul {
  list-style-type: none;
}

.Text ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.Text ul > li {
  padding-left: 1.5em;
  position: relative;
}

.Text ol > li {
  padding-left: 0.5em;
}

.Text ul > li::before {
  content: "–";
  position: absolute;
  left: 0;
  font-weight: 600;
  color: var(--color-theme)
}

.Text li + li {
  padding-top: 0.8em;
}

.Text dl {
  display: grid;
  grid-template-columns: auto 1fr;
}

@supports (display: grid) {
  .Text dl > dd {
    padding-left: 1em;
    margin: 0;
  }

  .Text dl > dd:not(:last-child) {
    margin-bottom: 0.25em;
  }
}

.Text iframe {
  width: 100vw;
  max-width: 100%;
  vertical-align: top;
  user-select: none;
}

/**
 * 1. Maintain 16/9 aspect ratio for embedded content (exluding Spotify)
 */

.Text iframe:not([src*="spotify.com/embed"]) {
  height: calc(100% * 9/16); /* 1 */
}

/**
 * Headings
 */

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6,
.Text .Text-h1,
.Text .Text-h2,
.Text .Text-h3,
.Text .Text-h4,
.Text .Text-h5,
.Text .Text-h6 {
  margin: 0;
  color: rgb(var(--current-color));
}

.Text h1:not(:first-child),
.Text h2:not(:first-child),
.Text h3:not(:first-child),
.Text h4:not(:first-child),
.Text h5:not(:first-child),
.Text h6:not(:first-child),
.Text .Text-h1:not(:first-child),
.Text .Text-h2:not(:first-child),
.Text .Text-h3:not(:first-child),
.Text .Text-h4:not(:first-child),
.Text .Text-h5:not(:first-child),
.Text .Text-h6:not(:first-child) {
  margin-top: 1.3em;
}

.Text h1,
.Text h2,
.Text h3,
.Text .Text-h1,
.Text .Text-h2,
.Text .Text-h3 {
  margin: 0 0 0.3em;
  font-weight: 600;
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  hyphens: auto;
}

.Text h1,
.Text .Text-h1 {
  font-size: 3em;
  line-height: .95;
}

@media (min-width: 500px) {
  .Text h1,
  .Text .Text-h1  {
    font-size: 2.4em;
  }
}

.Text h2,
.Text .Text-h2 {
  font-size: 1.8em;
  line-height: 1.1;
}

@media (min-width: 500px) {
  .Text h2,
  .Text .Text-h2 {
    font-size: 2em;
  }
}

.Text h3,
.Text .Text-h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

.Text h4,
.Text h5,
.Text h6,
.Text .Text-h4,
.Text .Text-h5,
.Text .Text-h6 {
  margin-bottom: 1.3em;
  font-weight: 600;
  font-size: inherit;
  line-height: inherit;
}

@media (min-width: 1200px) {
  .Text h1,
  .Text .Text-h1 {
    font-size: 2.8em;
  }

  .Text h3,
  .Text .Text-h3 {
    font-size: 1.6em;
    line-height: 1.1;
  }
}
