@import "../global";

/* @define utilities */
.u-loading,
.u-loadingLight {
  background: rgba(0, 0, 0, 0.05) !important;
  color: transparent !important;
  user-select: none !important;
}

.u-loadingLight {
  background: rgba(255, 255, 255, 0.3) !important;
}
