@import "../global";

/* @define utilities */
.u-loading,
.u-loadingAdaptive {
  background: rgba(0, 0, 0, 0.04) !important;
  display: inline !important;
  color: transparent !important;
  user-select: none !important;
}

.u-loadingAdaptive {
  background: rgba(255, 255, 255, 0.2) !important;
}
